<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" th:href="@{/css/admin.css}" >
    <link rel="stylesheet" th:href="@{/css/others.css}">
    <title>欢迎</title>
</head>
<body>
<p class="welcome">欢迎使用企业信息管理系统</p>
</body>
</html>